@using PacificBBExtranet.Services.Models.ResortModels;
@model List<RateSynchModel>

@{ 
    var roomNames = Model.Select(x=>x.RoomName).Distinct();
}

    @foreach (var roomName in roomNames)
    {
        <h3>@roomName</h3>
        foreach (RateSynchModel item in Model.Where(d => d.RoomName == roomName))
        {
            <ul style="width:500px;">
                <li style="display:inline-flex;">
                    @item.Name
                    <div style="margin-left:12px;">
                        <a class="rate-synch-btn" data-rate-id="@item.RateID" data-is-standard="@item.IsStandard" style="cursor:pointer;" >Synch</a>
                    </div>
                </li>
            </ul>
        }
    }



<script type="text/javascript">
    $(document).ready(function () {
        $(".rate-synch-btn").on("click", function () {
            var rateID = $(this).data("rate-id");
            var isStandard = $(this).data("is-standard");
            $.post("/Synch/BookingSynchRate", { rateID: rateID, isStandard: isStandard }, function () { });
        })
    })
</script>
