


<div style="clear:both;" id="id_dealsPanel">
    @*<ul class="custom nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#id_deals_contentPanel" id="id_deals_roomsSynch">Rooms</a>
        </li>
        <li data-save-action="UpdateSpecialRates">
            <a data-toggle="tab" href="#id_deals_contentPanel" id="id_deals_rates">Rates</a>
        </li>
    </ul>*@
    <div>
        <label>Instant Updates</label>
        @if (ViewBag.InstantUpdates == true)
        {
            <input type="button" class="btn btn-default" value="Active" id="activeInstantUpdates" />
        }
        else
        {
            <input type="button"  class="btn btn-default"  value="Not Active" id="activeInstantUpdates" />
        }
        <p>
            If <strong>Active</strong> it will update booking.com on every change
            if <strong>Not active</strong>, you will have to execute it manually with the Synch button
        </p>
    </div>

    

    <div class="tab-content">
        <label>Room rates list</label>
        <div id="id_deals_contentPanel" class="tab-pane fade in active">

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //$("#id_deals_roomsSynch").on("click", function () {

        //})

        $.get("/Synch/RatesListForSynch", function (response) {
            $("#id_deals_contentPanel").html(response)
        })

        $("#id_deals_roomsSynch").trigger("click")

        $("#activeInstantUpdates").on("click", function () {
            var self = this;
            $.post("/Synch/ActivateInstantUpdates",null, function (response) {
                $(self).val(response);
            });
        })
    });
</script>