@{
    ViewBag.Title = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive" style="width:100%;margin-top:7%;" src="~/Content/images/pacificbedbank.png" />
        </div>
        <div class="col-md-7">
          @Html.Partial("~/Views/Account/Login.cshtml")
        </div>
    </div>
}
else
{
    <h2>Welcome to PacificBedBank Resort Extranet</h2>
}
